/resources/public/js/compiled/**
resources/test/
figwheel_server.log
pom.xml
*jar
/dev/
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
*~
*#
.lein-failures
.rebel_readline_history
pom.xml.asc